<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xs.lightpuzzle">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:name=".LightPuzzleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar.FullScreen.Splash"
        tools:ignore="GoogleAppIndexingWarning">
        <!--<activity android:name=".demo.a_camera_demo.CameraActivity">-->
<!--        <activity android:name=".demo.TestActivity">-->
        <activity android:name=".WelcomeActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity-->
            <!--android:name=".demo.TestActivity"-->
            <!--android:theme="@style/AppTheme.NoActionBar" />-->

        <activity
            android:name=".demo.a_kotlin_demo.PracticeKotlinActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".demo.a_lifecycle_demo.TestLifecycleActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".materials.MaterialListActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".photopicker.PhotoPickerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".puzzle.view.signature.SignatureActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />
        <activity
            android:name=".puzzle.view.label.LabelActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />

        <activity
            android:name=".puzzle.PuzzleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustNothing" />

        <activity
            android:name=".materials.DownloadedListActivity"
            android:label="@string/downloaded_list_aty_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".materials.MaterialListActivity" />
        </activity>

        <service
            android:name=".data.service.SyncService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".puzzle.save.SaveBitmapService"
            android:process=":SaveBitmapService"/>

        <service
            android:name=".demo.a_service_demo.TestService"
            android:process=":TestService"/>

        <service
            android:name=".demo.a_service_demo.TestMessengerService"
            android:process=":TestMessengerService"/>

        <!-- 注册receiver -->
        <receiver android:name=".demo.a_broadcast_receiver_demo.TestReceiverOne">
            <intent-filter android:priority="1000">
                <action android:name="com.example.braodcast"/>
            </intent-filter>
        </receiver>

        <!--<receiver android:name=".demo.a_broadcast_receiver_demo.TestReceiverTwo">-->
        <!--<intent-filter android:priority="1">-->
        <!--<action android:name="com.example.braodcast"/>-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <!--<receiver android:name=".demo.a_broadcast_receiver_demo.TestReceiverThree">-->
        <!--<intent-filter android:priority="-1000">-->
        <!--<action android:name="com.example.braodcast"/>-->
        <!--</intent-filter>-->
        <!--</receiver>-->
    </application>

</manifest>