<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xs.lightpuzzle">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LightPuzzleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar.FullScreen.Splash">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".materials.MaterialListActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".photopicker.PhotoPickerActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".puzzle.PuzzleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustNothing" />

        <activity
            android:name=".minnie.PuzzleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustNothing" />

        <activity
            android:name=".materials.DownloadedListActivity"
            android:label="@string/downloaded_list_aty_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".materials.MaterialListActivity" />
        </activity>

        <service
            android:name=".data.service.SyncService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>